:root{
    --background-input-wrapper: #E5E5E5;
    --background-input-border: #8055FF;
    --input-font:#000;
    --input-border-placeholder:#459DF5;
    --border-error:#F53152;
    --input-lock:#BAD8F5;
    
  }
  body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
  }
  .wrapper{
  width: 22rem;
  height: 25rem;
  margin: 2rem auto;
  border: 0.0625rem dashed var(--background-input-border);
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-input-wrapper);
  }
  
  .input__label {
    display: block;
    margin-bottom: 0.375rem;
  }
  .input-items{
      position: relative;
  }
  .input-items__item {
    width: 16rem;
  height: 2rem;
  border: 0.0625rem solid var(--input-border-placeholder);
  color: var(--input-font);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 13px;
  outline-width: 0;
  }
  .input-items__item::placeholder {
    color: var(--input-border-placeholder);
  }
  .input-items__img {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  .input-items__item-error {
  border: 0.0625rem solid var(--border-error);
    
  }
  .input-items__item-lock{
  background-color: var(--input-lock);
  border: 0.0625rem solid var(--input-border-placeholder);;
  }