:root {
    --background-gray: #E5E5E5;
    --radio-border: #459DF5;
    --border-wrapper:#8055ff;
    --inner-border:#BAD8F5;
    --clean: rgba(255, 255, 255, 1);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-gray);
}
.radio-wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 6.5rem;
    border: 0.0625rem dashed var(--border-wrapper);
    border-radius: 0.25rem;
    padding: 1.25rem;
}
.radio__item {
    position: relative;
    padding: 0 0.25rem;
}
.radio__item input[type='radio'] {
    display: none;
}
.radio__item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 0.25rem;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--inner-border);
    background-color: var(--clean);
}
.radio__item input[type=radio]:checked + label:after {
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.25rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.25rem;
    content: " ";
    display: block;
    color: var(--radio-border);
}