.main-wrapper{
 display: grid;
 grid-template-columns: 22rem auto auto;
 grid-template-rows: auto auto;
 grid-auto-flow: column;
 grid-gap: 6rem;
}
.input-wrapper{
 grid-row: span 2;
}
.searchbar-wrapper{
    grid-column: span 2;
}

