:root{
    --background-input-wrapper: #E5E5E5;
    --background-input-dark: rgb(0, 0, 0);
    --background-input-light: #BAD8F5;
    --background-input-medium: #459DF5;
    --background-input-icorrect: #F53152;
    --background-input-stroke-middle: #8055FF;
  }
  /* временная обертка  */
  .input-wrapper{
    width: 350px;
    height: 400px;
    margin: 2rem auto;
    border: 1px dashed #8055FF;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-input-wrapper);
  }
  /* временная обертка  */
  .input{
    display: flex;
    flex-direction: column;
  }
  .input__label {
    display: block;
    margin-bottom: 0.5rem;
  }
  .input__item {
    width: 256px;
    height: 2rem;
    border: 1px solid var(--background-input-medium);
    color: var(--background-input-dark);
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 13px;
    outline-width: 0;
  }
  .input__item::placeholder{
    color: var(--background-input-medium);
  }
  .input__item-error{
    border: 1px solid var(--background-input-icorrect);
    /* background: url('../icons/x-medium.svg') no-repeat right; */
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23BAD8F5'%3E%3Cpath d='M12.5 3.5L3.5 12.5M3.5 3.5L12.5 12.5' fill='none'/%3E%3C/svg%3E") no-repeat right;
    background-size: 1rem 1rem;
  }
  .input__item-lock {
    /* background: url('../icons/locked.svg') no-repeat right; */
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000' stroke='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 5C4 2.79086 5.79086 1 8 1C10.2091 1 12 2.79086 12 5V7C13.1046 7 14 7.89543 14 9V13C14 14.1046 13.1046 15 12 15H4C2.89543 15 2 14.1046 2 13V9C2 7.89543 2.89543 7 4 7V5ZM10 5V7H6V5C6 3.89543 6.89543 3 8 3C9.10457 3 10 3.89543 10 5Z' stroke='none'/%3E%3Cpath d='M12 5C12 2.8 10.2 1 8 1C5.8 1 4 2.8 4 5L4 9H6V5C6 3.75 7 3 8 3C9 3 10 3.75 10 5V9H12V5Z' stroke='none'/%3E%3C/svg%3E") no-repeat right;
    background-size: 1rem 1rem;
    background-color: var(--background-input-light);
    border: 1px solid var(--background-input-medium);
  }